{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

<h1 id="backend-introduction">Introducing back end plugins</h1>
<div class="api-docs-basics">
    <p>
        On this page, you will find an overview of relevant information about back end plugins.
    </p>
</div>

{% endblock %}