{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

<h1 id="template-introduction">Introducing theme plugins</h1>
<div class="api-docs-basics">
    <p>
        On this page, you will find an overview of relevant information about theme plugins.
    </p>
</div>

{% endblock %}