{% extends 'PlentyPluginShowcase::HtmlStructure' %}

{% block MainFrame %}

<div class="row">
    <div class="container">
      <div class="col-lg-12 col-md-12">
            <gcse:searchresults-only></gcse:searchresults-only>
      </div>
    </div>
</div>

{% endblock %}