<!--li>
	<a href="https://www.plentymarkets.eu/add-link" target="_blank">Become a plentyMarketplace partner</a>
</li-->
<li>
	<a href="/marketplace/plugin-requirements">Plugin requirements</a>
</li>
<li>
	<a href="/marketplace/plugin-upload">Plugin upload</a>
</li>