{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

<h2 id="marketplace-upload">Uploading plugins to plentyMarketplace</h2>
<div class="api-docs-basics">
    <p>
        If your plugin fulfils the <a href="/marketplace/plugin-requirements">requirements</a>, you can upload your plugin to <a href="https://marketplace.plentymarkets.com" target="_blank">plentyMarketplace</a>. Follow the step-by-step instructions about the process of uploading plugins to plentyMarketplace.
    </p>
</div>

{% endblock %}