{% extends 'PlentyPluginShowcase::templates.ExamplePage' %}

{% block Content %}

<h1 id="marketplace-introduction">Offering plugins on plentyMarketplace</h1>
<div class="api-docs-basics">
    <p>
        This guide will give you an overview of all the requirements a plugin must fulfil to be offered on <a href="https://marketplace.plentymarkets.com" target="_blank">plentyMarketplace</a>. Furthermore, you will find step-by-step instructions about the process of uploading plugins to plentyMarketplace.
    </p>
</div>

<h2 id="marketplace-requirements">Plugin requirements</h2>
<div class="api-docs-basics">
    <p>
        A plugin must fulfil certain requirements in order to be offered on plentyMarketplace. The plugin must have a valid <code>plugin.json</code> file. It also must have a <code>CHANGELOG.md</code> file with all the changes made to the plugin. Furthermore, the plugin must contain a <b>meta</b> folder that includes sub-folders with multiple required files.
    </p>
</div>

<h3 id="marketplace-pluginjson">Plugin data</h3>
<div class="api-docs-basics">
    <p>
        The <code>plugin.json</code> file is the essential part for plugin provisioning. It must contain certain information, such as the plugin name, the version etc. Find an example of a valid <code>plugin.json</code> below.
    </p>
</div>

<div class="route-container">
    <code>PluginXY/plugin.json</code>
</div>
<div class="code-container">
<pre class="prettyprint lang-js grey-back linenums">
{
    "name"              : "PluginXY",
    "namespace"         : "XY",
    "type"              : "template",
    "version"           : "1.0.0",
    "license"           : "The license for the plugin",
    "pluginIcon"        : "The plugin icon",
    "price"             : "0",
    "description"       : "the description for your plugin",
    "shortDescription"  : "The short description for your plugin",
    "keywords"          : ["plugins", "template"],
    "author"            : "Your name",
    "authorIcon"        : "The author icon",
    "email"             : "Your email address",
    "phone"             : "Your phone number",
    "serviceProvider"   : "XY\\Providers\\TemplateServiceProvider",
    "containers"        : [],
    "dataProviders"     : [],
    "javaScriptFiles"   : [],
    "require"           : [],
    "dependencies"      : [],
    "runOnBuild"        : []
}
</pre>
</div>
<div class="api-docs-basics">
    <table class="table table-striped table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>Property</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>name</td>
                <td>The name of your plugin. The plugin name must not yet exist in plentyMarketplace. <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>namespace</td>
                <td>The root namespace of your plugin <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>type</td>
                <td>The type of your plugin. The following plugin types are available: <span class="label label-danger">required</span>
                    <ul>
                        <li>
                            <b>template</b>: type for frontend plugins
                        </li>
                        <li>
                            <b>export</b>: type for new export formats
                        </li>
                        <li>
                            <b>payment</b>: type for payment plugins
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>version</td>
                <td>The version of your plugin. <a href="http://semver.org/" target="_blank">Semantic versioning</a> is used for plentymarkets plugins. <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>license</td>
                <td>The license type for your plugin <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>pluginIcon</td>
                <td>The file name with file format of the plugin icon <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>price</td>
                <td>The price of your plugin. The value must be of the <code>float</code> type. <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>description</td>
                <td>The description text for your plugin <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>shortDescription</td>
                <td>The short description for your plugin <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>keywords</td>
                <td>An array of keywords describing your plugin <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>author</td>
                <td>The author of the plugin <span class="label label-danger">required</span></td>
            </tr>
            <tr>
                <td>authorIcon</td>
                <td>The file name with file format of the author icon <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>email</td>
                <td>The email address of the author for support issues <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>phone</td>
                <td>The phone number of the author for support issues <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>serviceProvider</td>
                <td>The service provider to hook-up <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>containers</td>
                <td>An array of <a href="/tutorials/container#container-entrypoint">containers</a> <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>dataProviders</td>
                <td>An array of <a href="/tutorials/container#code-pluginjson">data providers</a> <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>javaScriptFiles</td>
                <td>An array of JavaScript files. The file name and file format must be specified. <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>require</td>
                <td>An array of dependencies of other plugins including required version, e.g. <code>PluginIO-1.0.0</code> <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>dependencies</td>
                <td>An array of dependencies of external SDKs. The external source must be published on <a href="https://packagist.org/" targed="_blank">Packagist</a>. <span class="label label-default">optional</span></td>
            </tr>
            <tr>
                <td>runOnBuild</td>
                <td>An array of classes to be executed once when the plugin is provisioned <span class="label label-default">optional</span></td>
            </tr>
        </tbody>
    </table>
</div>

<h3 id="marketplace-changelog">Change log</h3>
<div class="api-docs-basics">
    <p>
        The <code>CHANGELOG.md</code> file contains necessary information about changes made to the plugin. The file is saved in the <b>root</b> folder of the plugin. Use the following example for your changelog:
    </p>
</div>

<div class="route-container">
    <code>PluginXY/CHANGELOG.md</code>
</div>
<div class="code-container">
<pre class="prettyprint lang-plain grey-back linenums">
# Release Notes for PluginXY // Include the plugin name in headline 1

## v1.0.1 (2016-12-24) // List version releases (MAJOR.MINOR.PATCH) with
                       // the release date (YYYY-MM-DD) in reverse-chronological
                       // order (newest on top) in headline 2

### Added // List added features and functions in an unordered list
- Added new feature 1
- Added new feature 2

### Changed // List all changes made to existing functionality in an unordered list
- Replaced icon 1 with icon 2

### Fixed // List all bug fixes and fixed issues in an unordered list
- Fixed bug 1

### Removed // List all removed features and functions in this release in an unordered list
- Removed redundant function 1

## v1.0.0 (2016-11-08) // Add one sub-section for each version with the release date in headline 2

### Added // List added features and functions in an unordered list
- Added function 1
</pre>
</div>

<div>
    <figure>
        <a data-toggle="modal" data-target="#modal1" href="#">
        <img class="img-responsive img-pretty" src="{{ plugin_path('PlentyPluginShowcase') }}/images/tutorials/marketplace-changelog.png" />
        </a>
    </figure>
</div>

<h3 id="marketplace-user-guide">User guide</h3>
<div class="api-docs-basics">
    <p>
        The user guide for the plugin is saved in the sub-folder <b>documents</b> in the <b>meta</b> folder. The user guide must be available in English and saved in MD file format, e.g. <code>user_guide_en.md</code>. User guides in other languages are optional. Change the language code in the file name accordingly. The following guidelines must be taken into consideration when writing the guide.
    </p>
</div>

<div class="route-container">
    <code>PluginXY/meta/documents/user_guide_en.md</code>
</div>
<div class="code-container">
<pre class="prettyprint lang-plain grey-back linenums">
# This is the headline of your user guide

Below the headline, include a short introduction describing your plugin, the scope of functionality and link the main features.

## Getting started and requirements

In the first chapter, provide information about setting up the plugin. Provide a short **Getting started** section. Also, mention required plugins, that must be installed to run your plugin.

## Plugin configuration

Main chapters can be used to give a detailed description of the settings of your plugins. You can group settings descriptions.

### The first feature of the plugin

Single features are described in a sub-section. If you want to give instructions for setting up a function in the plentymarkets back end, use the following template:

##### Setting up a feature:

1. Go to the **Start » Plugins** menu.
2. Click on **My plugin**.<span><</span>br />→ A new window will open.
3. Select a value from the **My plugin feature** drop-down.
4. **Save** the settings.

### Another feature

Add the instructions. In this case we want to describe more than one setting, so we use a table below the instructions.

![Add an image](http://placehold.it/350x150?text=Add+an+image)

##### Setting up another feature with multiple settings:

1. Go to the **Start » Plugins** menu.
2. Click on **My plugin**.<span><</span>br />→ A new window will open.
3. Carry out the settings. Pay attention to the information given in table 1.
4. **Save** the settings.

<span><</span>table>
	<span><</span>thead>
		<span><</span>th>
			Settings
		<span><</span>/th>
		<span><</span>th>
			Explanation
		<span><</span>/th>
	<span><</span>/thead>
	<span><</span>tbody>
		<span><</span>tr>
			<span><</span>td>
				<span><</span>b>Setting 1<span><</span>/b>
			<span><</span>/td>
			<span><</span>td>
				Description 1
			<span><</span>/td>
		<span><</span>/tr>
		<span><</span>tr>
			<span><</span>td>
				<span><</span>b>Setting 2<span><</span>/b>
			<span><</span>/td>
			<span><</span>td>
				Description 2
			<span><</span>/td>
		<span><</span>/tr>
		<span><</span>tr>
			<span><</span>td>
				<span><</span>b>Setting 3<span><</span>/b>
			<span><</span>/td>
			<span><</span>td>
				Description 3
			<span><</span>/td>
		<span><</span>/tr>
	<span><</span>/tbody>
	<span><</span>caption>
		Table 1: Settings for another feature
	<span><</span>/caption>
<span><</span>/table>

## Highlighting

### Boldface

Use **bold** for highlighting UI texts, menus and options.

### Code

A single line of code is highlighted using <span><</span>code>`<span><</span>/code> at the beginning and at the end of the line:

`This is a line of code`

If you want to include multiple lines of code, use <span><</span>code>```<span><</span>/code> before and after a code example.

```
Line 1 of code
Line 2 of code
Line 3 of code
```


### Warning

<span><</span>div class="alert alert-danger" role="alert">
    This is a red box. Use this box for warning messages.
<span><</span>/div>

### Important

<span><</span>div class="alert alert-warning" role="alert">
    This is a yellow box. Use this box for important information.
<span><</span>/div>

### Example

<span><</span>div class="alert alert-success" role="alert">
    This is a green box. Use this box for examples.
<span><</span>/div>

### Note

<span><</span>div class="alert alert-info" role="alert">
    This is a blue box. Use this box for notes.
<span><</span>/div>


## Further reading

Add links to further information.

* Here you can find a [markdown cheatsheet](https://guides.github.com/pdfs/markdown-cheatsheet-online.pdf)
* [More markdown](http://www.markdowntutorial.com/)

## License

In this section, you can add information about your license.
</pre>
</div>

<div>
    <figure>
        <a data-toggle="modal" data-target="#modal2" href="#">
        <img class="img-responsive img-pretty" src="{{ plugin_path('PlentyPluginShowcase') }}/images/tutorials/marketplace-userguide.png" />
        </a>
    </figure>
</div>

<h3 id="marketplace-metadata">Other meta data</h3>
<div class="api-docs-basics">
    <p>
        The <b>meta</b> folder also contains the <b>images</b> folder with files that are needed to display your plugin as an item in plentyMarketplace, such as preview images, the author icon and the plugin icon.
    </p>
</div>

<div class="api-docs-basics">
    <table class="table table-striped table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Author icon</td>
                <td>The author icon. Valid file formats are PNG and JPEG. The author icon must be specified in the <code>plugin.json</code>. The icon can have the following image sizes:
                    <ul>
                        <li>
                            <b>icon_author_xs</b>: 32x32 px
                        </li>
                        <li>
                            <b>icon_author_sm</b>: 256x256 px
                        </li>
                        <li>
                            <b>icon_author_md</b>: 512x512 px
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Plugin icon</td>
                <td>The plugin icon. Valid file formats are PNG and JPEG. The plugin icon must be specified in the <code>plugin.json</code>. The icon can have the following image sizes:
                    <ul>
                        <li>
                            <b>icon_plugin_xs</b>: 32x32 px
                        </li>
                        <li>
                            <b>icon_plugin_sm</b>: 256x256 px
                        </li>
                        <li>
                            <b>icon_plugin_md</b>: 512x512 px
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Preview images</td>
                <td>The preview images of the plugin to be displayed in plentyMarketplace. Valid file formats are PNG and JPEG. The maximum file size for preview images is 1 MB. Upload up to 7 preview images, e.g. <code>preview_0.jpeg</code>, <code>preview_1.jpeg</code> etc.</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="marketplace-upload">Uploading plugins</h2>
<div class="api-docs-basics">
    <p>
        If your plugins fulfils the requirements listed above, you can upload your plugin to <a href="https://marketplace.plentymarkets.com" target="_blank">plentyMarketplace</a>.
    </p>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog img-horizontal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example of a changelog</h4>
            </div>
            <div class="modal-body">
                <figure>
                    <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/tutorials/marketplace-changelog.png" />
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog img-horizontal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example of a user guide</h4>
            </div>
            <div class="modal-body">
                <figure>
                    <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/tutorials/marketplace-userguide.png" />
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}